.footer {
  min-height: 50px;
  background: #e5e5e5;
  position: relative;
}

.footer-span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: darkgray;
}

.page-footer {
  position: sticky
}

.footer-copyright {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  font-weight: 600;
}

.footerLink {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  font-weight: 600;
  color: white;
}